<div class="container-fluid">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 ">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex text-primary link-body-emphasis text-decoration-none fs-primary fw-bold ">
            Dashboard
        </a>
      </div>
      <form class="col-md-3 display-flex justify-content-center" role="search" >
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>

      <div class="col-md-3 text-end">
        
        <a href="/logout" type="button" class="btn btn-primary " >Logout</a>
      </div>
    </header>
  </div>