<div class="conainer-fluid container-fluid-custom py-md-5 mb-5">
    <main>
        <div class="row py-md-5 text-center justify-content-center">
            <div class="col-md-12 col-lg-6 mb-6 mb-md-0 info">
                <h1 class="display-2 fw-bold mb-4 position-relative home-title">
                    NoteSphere is a Simple notes making app
                </h1>
                  <p class=" mb-4">
                    NoteSphere allows you to create,save,and update your notes whenever & wherever you want .
                  </p>  
                <a href="/auth/google" class="btn btn-primary"> Try Now</a>
            </div>
        </div>
    </main>
</div>